In [1]:
import pandas as pd
import os


os.getcwd()

'/workspaces/IOT-dashboard/notebooks'

In [2]:
data = pd.read_csv('../data/imports_use_cleaned.csv')
data = data.rename(columns={'import requirements':'input product'})
data['component'] = 'Imported inputs'
data.head()

,Unnamed: 0,input product,output product,value,proportion,component
0,0,"A01 Products of agriculture, hunting and relat...","A01 Products of agriculture, hunting and relat...",462.127810,0.709325,Imported inputs
1,1,"A02 Products of forestry, logging and related ...","A01 Products of agriculture, hunting and relat...",1.816993,0.002789,Imported inputs
2,2,A03 Fish and other fishing products; aquacultu...,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Imported inputs
3,3,B05 Coal and lignite,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Imported inputs
4,4,B06 & B07 Extraction Of Crude Petroleum And Na...,"A01 Products of agriculture, hunting and relat...",0.020050,0.000031,Imported inputs

In [3]:
data2 = pd.read_csv('../data/iot_cleaned.csv')
data2 = data2.rename(columns={'domestic input requirements':'input product'})
data2['component'] = 'Domestically produced inputs'
data2.head()

,Unnamed: 0,input product,output product,value,proportion,component
0,0,"A01 Products of agriculture, hunting and relat...","A01 Products of agriculture, hunting and relat...",3197.593647,0.211186,Domestically produced inputs
1,1,"A02 Products of forestry, logging and related ...","A01 Products of agriculture, hunting and relat...",114.428630,0.007557,Domestically produced inputs
2,2,A03 Fish and other fishing products; aquacultu...,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Domestically produced inputs
3,3,B05 Coal and lignite,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Domestically produced inputs
4,4,B06 & B07 Extraction Of Crude Petroleum And Na...,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Domestically produced inputs

In [4]:
data3 = pd.concat([data,data2])
data3['proportion_total']= data3['value'] / data3.groupby('output product')['value'].transform('sum')
data3.head()

,Unnamed: 0,input product,output product,value,proportion,component,proportion_total
0,0,"A01 Products of agriculture, hunting and relat...","A01 Products of agriculture, hunting and relat...",462.127810,0.709325,Imported inputs,0.029262
1,1,"A02 Products of forestry, logging and related ...","A01 Products of agriculture, hunting and relat...",1.816993,0.002789,Imported inputs,0.000115
2,2,A03 Fish and other fishing products; aquacultu...,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Imported inputs,0.000000
3,3,B05 Coal and lignite,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Imported inputs,0.000000
4,4,B06 & B07 Extraction Of Crude Petroleum And Na...,"A01 Products of agriculture, hunting and relat...",0.020050,0.000031,Imported inputs,0.000001

In [5]:
data3[data3['output product'].str.startswith('A01')].sort_values(by='value')

,Unnamed: 0,input product,output product,value,proportion,component,proportion_total
103,103,S96 Other personal services,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Imported inputs,0.000000
22,22,C18 Printing and recording services,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Domestically produced inputs,0.000000
20,20,"C16 Wood and of products of wood and cork, exc...","A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Domestically produced inputs,0.000000
19,19,C15 Leather and related products,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Domestically produced inputs,0.000000
18,18,C14 Wearing apparel,"A01 Products of agriculture, hunting and relat...",0.000000,0.000000,Domestically produced inputs,0.000000
...,...,...,...,...,...,...,...
73,73,"K64 Financial services, except insurance and p...","A01 Products of agriculture, hunting and relat...",968.556164,0.063968,Domestically produced inputs,0.061330
14,14,C109 Prepared animal feeds,"A01 Products of agriculture, hunting and relat...",1233.082921,0.081439,Domestically produced inputs,0.078079
29,29,"C20C Dyestuffs, agro-chemicals - 20.12/20","A01 Products of agriculture, hunting and relat...",1400.606436,0.092503,Domestically produced inputs,0.088687
58,58,"G46 Wholesale trade services, except of motor ...","A01 Products of agriculture, hunting and relat...",1718.292438,0.113485,Domestically produced inputs,0.108803
0,0,"A01 Products of agriculture, hunting and relat...","A01 Products of agriculture, hunting and relat...",3197.593647,0.211186,Domestically produced inputs,0.202473

In [6]:
data3.to_csv('../data/combined.csv')