In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('..')

In [3]:
data = pd.read_excel('data/nasu1719pr.xlsx',sheet_name='Effects',header=5)
data = data.iloc[:,1:]
data.tail()

,Product,Intermediate consumption at basic prices,"Use of imported products, cif",Taxes less subsidies on products,Intermediate consumption at purchaser's prices,Compensation of employees,Gross operating surplus and mixed income,Taxes less subsidies on production,Gross value added,Output
100,Sports services and amusement and recreation s...,0.538777,0.095125,0.044333,0.678234,0.547284,0.288025,0.025234,0.860542,1.538777
101,Services furnished by membership organisations...,0.630764,0.107432,0.018442,0.756638,0.656669,0.206858,0.010598,0.874126,1.630764
102,Repair services of computers and personal and ...,0.461123,0.119809,0.005618,0.586549,0.474780,0.388797,0.010996,0.874574,1.461123
103,Other personal services,0.291347,0.045914,0.025488,0.362749,0.312140,0.605178,0.011280,0.928598,1.291347
104,Services of households as employers of domesti...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000

In [4]:
cpa = pd.read_excel('data/nasu1719pr.xlsx',sheet_name='Use BP PxI',header=4)
cpa = pd.DataFrame(cpa.iloc[1:106,0])
cpa = cpa.rename(columns={cpa.columns[0]: 'CPA'})
cpa = cpa.reset_index()
cpa

     index            CPA
0        1        CPA_A01
1        2        CPA_A02
2        3        CPA_A03
3        4        CPA_B05
4        5  CPA_B06 & B07
..     ...            ...
100    101        CPA_R93
101    102        CPA_S94
102    103        CPA_S95
103    104        CPA_S96
104    105        CPA_T97

[105 rows x 2 columns]

In [5]:
data

,Product,Intermediate consumption at basic prices,"Use of imported products, cif",Taxes less subsidies on products,Intermediate consumption at purchaser's prices,Compensation of employees,Gross operating surplus and mixed income,Taxes less subsidies on production,Gross value added,Output
0,"Products of agriculture, hunting and related s...",1.034810,0.143116,0.029370,1.207295,0.364815,0.534229,-0.071529,0.827515,2.034810
1,"Products of forestry, logging and related serv...",0.801151,0.102938,0.017780,0.921869,0.483787,0.391069,0.004425,0.879282,1.801151
2,Fish and other fishing products; aquaculture p...,0.880631,0.247649,0.023940,1.152221,0.397328,0.323792,0.007290,0.728411,1.880631
3,Coal and lignite,0.875459,0.142402,0.022121,1.039981,0.462668,0.397986,-0.025176,0.835478,1.875459
4,Extraction Of Crude Petroleum And Natural Gas ...,0.581088,0.112951,0.010639,0.704677,0.237086,0.630092,0.009232,0.876411,1.581088
...,...,...,...,...,...,...,...,...,...,...
100,Sports services and amusement and recreation s...,0.538777,0.095125,0.044333,0.678234,0.547284,0.288025,0.025234,0.860542,1.538777
101,Services furnished by membership organisations...,0.630764,0.107432,0.018442,0.756638,0.656669,0.206858,0.010598,0.874126,1.630764
102,Repair services of computers and personal and ...,0.461123,0.119809,0.005618,0.586549,0.474780,0.388797,0.010996,0.874574,1.461123
103,Other personal services,0.291347,0.045914,0.025488,0.362749,0.312140,0.605178,0.011280,0.928598,1.291347
104,Services of households as employers of domesti...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000

In [6]:
data['Product'] = cpa['CPA'].astype(str).str.cat(data['Product'].astype(str), sep=' ')
data['Product'] = data['Product'].apply(lambda x: str(x)[4:])
data

,Product,Intermediate consumption at basic prices,"Use of imported products, cif",Taxes less subsidies on products,Intermediate consumption at purchaser's prices,Compensation of employees,Gross operating surplus and mixed income,Taxes less subsidies on production,Gross value added,Output
0,"A01 Products of agriculture, hunting and relat...",1.034810,0.143116,0.029370,1.207295,0.364815,0.534229,-0.071529,0.827515,2.034810
1,"A02 Products of forestry, logging and related ...",0.801151,0.102938,0.017780,0.921869,0.483787,0.391069,0.004425,0.879282,1.801151
2,A03 Fish and other fishing products; aquacultu...,0.880631,0.247649,0.023940,1.152221,0.397328,0.323792,0.007290,0.728411,1.880631
3,B05 Coal and lignite,0.875459,0.142402,0.022121,1.039981,0.462668,0.397986,-0.025176,0.835478,1.875459
4,B06 & B07 Extraction Of Crude Petroleum And Na...,0.581088,0.112951,0.010639,0.704677,0.237086,0.630092,0.009232,0.876411,1.581088
...,...,...,...,...,...,...,...,...,...,...
100,R93 Sports services and amusement and recreati...,0.538777,0.095125,0.044333,0.678234,0.547284,0.288025,0.025234,0.860542,1.538777
101,S94 Services furnished by membership organisat...,0.630764,0.107432,0.018442,0.756638,0.656669,0.206858,0.010598,0.874126,1.630764
102,S95 Repair services of computers and personal ...,0.461123,0.119809,0.005618,0.586549,0.474780,0.388797,0.010996,0.874574,1.461123
103,S96 Other personal services,0.291347,0.045914,0.025488,0.362749,0.312140,0.605178,0.011280,0.928598,1.291347
104,T97 Services of households as employers of dom...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000

In [7]:
# convert wide table to long table
effects = pd.melt(data, 
                     id_vars='Product', 
                     value_vars=data.columns.to_list()[1:]).dropna()

effects.shape

(945, 3)

In [8]:
effects.head()

,Product,variable,value
0,"A01 Products of agriculture, hunting and relat...",Intermediate consumption at basic prices,1.034810
1,"A02 Products of forestry, logging and related ...",Intermediate consumption at basic prices,0.801151
2,A03 Fish and other fishing products; aquacultu...,Intermediate consumption at basic prices,0.880631
3,B05 Coal and lignite,Intermediate consumption at basic prices,0.875459
4,B06 & B07 Extraction Of Crude Petroleum And Na...,Intermediate consumption at basic prices,0.581088

In [9]:
# Strip whitespace from start and finish

def space_stripper(x):
    return x.strip()

effects[['Product','variable']] = effects[['Product','variable']].applymap(lambda x: space_stripper(x))

/tmp/ipykernel_12744/616538641.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  effects[['Product','variable']] = effects[['Product','variable']].applymap(lambda x: space_stripper(x))

In [10]:
effects['value'] = effects['value'].astype(float)
effects.head()

,Product,variable,value
0,"A01 Products of agriculture, hunting and relat...",Intermediate consumption at basic prices,1.034810
1,"A02 Products of forestry, logging and related ...",Intermediate consumption at basic prices,0.801151
2,A03 Fish and other fishing products; aquacultu...,Intermediate consumption at basic prices,0.880631
3,B05 Coal and lignite,Intermediate consumption at basic prices,0.875459
4,B06 & B07 Extraction Of Crude Petroleum And Na...,Intermediate consumption at basic prices,0.581088

In [11]:
effects['factor'] = 'total impact'
effects.head()

,Product,variable,value,factor
0,"A01 Products of agriculture, hunting and relat...",Intermediate consumption at basic prices,1.034810,total impact
1,"A02 Products of forestry, logging and related ...",Intermediate consumption at basic prices,0.801151,total impact
2,A03 Fish and other fishing products; aquacultu...,Intermediate consumption at basic prices,0.880631,total impact
3,B05 Coal and lignite,Intermediate consumption at basic prices,0.875459,total impact
4,B06 & B07 Extraction Of Crude Petroleum And Na...,Intermediate consumption at basic prices,0.581088,total impact

In [12]:
effects.to_csv('data/detailed_effects.csv')